{
  "rules": {
    "prettier/prettier": [
      "error", 
      {
        "endOfLine": "auto"
      }
    ],
    "eol-last": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
} 